dreamfactory:
  ingress:
    enabled: true
    ingressClass: ""
    annotations: {}
    hosts:
      - example.dreamfactory.com
    tls: true
    pathType: Prefix


  image:
    repository: dreamfactorysoftware/dreamfactory
    tag: latest
  replicaCount: 2
  service:
    type: ClusterIP
    port: 80
  resources:
    limits:
      cpu: 2
      memory: 2Gi
    requests:
      cpu: 1
      memory: 1Gi

mysql:
  image:
    repository: mysql
    tag: "8.0"
  auth:
    rootPassword: "your_secure_password"
  persistence:
    enabled: true
    size: 10Gi
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

redis:
  image:
    repository: redis
    tag: "6.2"
  replicaCount: 1
  service:
    port: 6379
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi